<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/css.ejs %>
</head>

<body>
<!-- container section start -->
<section id="container" class="">

    <!--header-->
    <% include components/header.ejs %>

    <!--sidebar -->
    <% include components/side_navbar.ejs %>

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <!--page -->
            <div class="row">
                <div class="col-lg-12" id="pageTitle">
                    <h3 class="page-header">Dashboard</h3>
                </div>
            </div>

            <div id="pageContent">

                <!--dashboard-->
                <% include components/dashboard.ejs %>

            </div>

        </section>
    </section>

</section>


<% include includes/js.ejs %>
<div id ='loadJs'></div>
</body>
</html>
