<div class="header">
    <div class="bg-color">
        <header id="main-header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Team fourLoop</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#main-header">Home</a></li>
                            <li class=""><a href="#service">Services</a></li>
                            <li class=""><a href="#portfolio">Portfolio</a></li>
                            <li class=""><a href="#blog">Blog</a></li>
                            <li class=""><a href="#team">Our Team</a></li>
                            <li class=""><a href="#contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="banner-info fadeIn delay-05s">
                        <div class="col-lg-6 col-md-6">
                            <img src="/public/website/img/fourLoopLogo.png" class="img-responsive">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h3 class="pad-bt15">Creative Concept</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>