<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="service-title pad-bt15">Our Recent Works</h2>
                <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
                <hr class="bottom-line">
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                <figure>
                    <img src="/public/website/img/port05.jpg" class="img-responsive">
                    <figcaption>
                        <h2>Project For Everyone</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                <figure>
                    <img src="/public/website/img/port05.jpg" class="img-responsive">
                    <figcaption>
                        <h2>Project For Everyone</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                <figure>
                    <img src="/public/website/img/port05.jpg" class="img-responsive">
                    <figcaption>
                        <h2>Project For Everyone</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>