<section id="service" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="service-title pad-bt15">What We Do?</h2>
                <p class="sub-title pad-bt15">We offer a vast variety of services to cater your personal and business tech requirements.<br>All services are provided along a standard process and continuous client interaction is maintained.</p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="/public/website/img/services/ui.png">
                    </div>
                    <h3 class="pad-bt15">UX/UI Design</h3>
                    <p><small>Designing user interfaces customized to the product requirement with advanced user experience engineering to enhance ultimate customer satisfaction</small></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="/public/website/img/services/web.png">
                    </div>
                    <h3 class="pad-bt15">Web Development</h3>
                    <p><small>Designing and developing of interactive, responsive websites and web applications to suite business requirements or product needs.</small></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="/public/website/img/services/mobile.png">
                    </div>
                    <h3 class="pad-bt15">Mobile Apps</h3>
                    <p><small>Development of platform independent mobile apps (Android/iOS/Windows) along with an interactive design and a requirement-specific architecture.</small></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="/public/website/img/services/marketing.png">
                    </div>
                    <h3 class="pad-bt15">Digital Marketing</h3>
                    <p><small>Social media marketing (Facebook/Twitter/Instagram/Pinterest) which includes corporate branding, page management and email campaigns</small></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="/public/website/img/services/maintain.png">
                    </div>
                    <h3 class="pad-bt15">Website Maintenance</h3>
                    <p><small>Maintenance provided for established or newly-built websites in adding new features, modifying existing features and incorporating migrations or upgrades.</small></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="/public/website/img/services/seo.png">
                    </div>
                    <h3 class="pad-bt15">SEO and SEM</h3>
                    <p><small>Fine-tuning website content, web applications or digital marketing content to meet search engine optimization and search engine marketing requirements.</small></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="/public/website/img/services/graphic.png">
                    </div>
                    <h3 class="pad-bt15">Graphic Designing</h3>
                    <p><small>Designing of all types of posters, leaflets, flyers, logos, booklets, etc. for digital marketing or physical direct marketing.</small></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="/public/website/img/services/photography.png">
                    </div>
                    <h3 class="pad-bt15">Photography</h3>
                    <p><small>Digital Photography for event coverage or photo-shoots. Photography for educational, entertainment or professional events.</small></p>
                </div>
            </div>
        </div>
    </div>
</section>