<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
<meta name="author" content="GeeksLabs">
<meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">

<link rel="shortcut icon" href="/img_admin/favicon.png">

<title>Team fourLoop admin panel</title>


<link href="/css_admin/bootstrap.min.css" rel="stylesheet">
<link href="/css_admin/bootstrap-theme.css" rel="stylesheet">

<!--external css-->
<!-- font icon -->
<link href="/css_admin/elegant-icons-style.css" rel="stylesheet" />
<link href="/css_admin/font-awesome.min.css" rel="stylesheet" />
<!-- full calendar css-->
<link href="/assets_admin/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
<link href="/assets_admin/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
<!-- easy pie chart-->
<link href="/assets_admin/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- owl carousel -->
<link href="/css_admin/owl.carousel.css" type="text/css" rel="stylesheet">
<link href="/css_admin/jquery-jvectormap-1.2.2.css" rel="stylesheet">
<!-- Custom styles -->
<link href="/css_admin/fullcalendar.css" rel="stylesheet">
<link href="/css_admin/widgets.css" rel="stylesheet">
<link href="/css_admin/style.css" rel="stylesheet">
<link href="/css_admin/style-responsive.css" rel="stylesheet" />
<link href="/css_admin/xcharts.min.css" rel=" stylesheet">
<link href="/css_admin/jquery-ui-1.10.4.min.css" rel="stylesheet">
<link href="/css/loader.css" type="text/css" rel="stylesheet">