<div class="row">
    <div class="col-md-7 portlets">
        <!-- Widget -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">Team members</div>
            </div>

            <div class="panel-body">
                <div class="row" style="border: solid; border-radius: 5px; border-color: #394A59; border-width: 1px;margin: 5px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-thumbnail" />
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        Name
                                    </div>
                                    <div class="panel-body">
                                        Number of views
                                    </div>
                                    <div class="panel-body">
                                        Number of comments
                                    </div>
                                    <div class="panel-body">
                                        Link
                                    </div>
                                    <div class="panel-body">
                                        Description
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            Panel title
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        Panel content
                                    </div>
                                    <div class="panel-footer">
                                        Panel footer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border: solid; border-radius: 5px; border-color: #394A59; border-width: 1px;margin: 5px">
                    <div class="col-md-2" style="padding-top: 10px; padding-bottom: 10px">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-thumbnail" />
                    </div>
                    <div class="col-md-5" style="padding-top: 10px; padding-bottom: 10px">
                        <h4><b>Blog name</b></h4>
                        <h5>by savinda</h5>
                    </div>
                    <div class="col-md-5" style="margin-top: 10px" style="padding-top: 10px; padding-bottom: 10px">
                        <button type="button" class="btn btn-success">View</button>
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-danger">Remove</button>
                    </div>
                </div>


            </div>


        </div>
    </div>
    <div class="col-md-5 portlets">
        <!-- Widget -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">Add team member</div>
            </div>

            <div class="panel-body">
                <form role="form">
                    <div class="form-group">

                        <label for="exampleInputEmail1">
                            Name
                        </label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="form-group">

                        <label for="exampleInputEmail1">
                            Possition
                        </label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="form-group">

                        <label for="exampleInputFile">
                            Upload image
                        </label>
                        <input type="file" id="exampleInputFile" />
                    </div>
                    <button type="submit" class="btn btn-primary">Add team member</button>
                </form>

            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">

    </div>
</div>
