<aside>
    <div id="sidebar"  class="nav-collapse ">

        <ul class="sidebar-menu">

            <li class="active">
                <a class="" href="javascript:;" onclick="loadDashboard()"><i class="icon_house_alt"></i><span>Dashboard</span></a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" onclick="loadMessages()" class=""><i class="icon_document_alt"></i><span>Messages</span></a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" onclick="loadTeam()" class=""><i class="icon_document_alt"></i><span>Team</span></a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" onclick="loadBlogs()" class=""><i class="icon_document_alt"></i><span>Blogs</span></a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" onclick="loadProjects()" class=""><i class="icon_document_alt"></i><span>Projects</span></a>
            </li>

        </ul>

    </div>
</aside>